@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Verdana;
	background-color: #404040;
}
#container {
	margin: auto;
	margin-top: 20px;
	width: 1000px;
	height: 900px;
}
header {
	width: 1000px;
	height: 200px;
}
#menu {
	float: right;
	width: 400px;
	height: 200px;
}
button.noActive {
	float: left;
	margin: 20px 0px 20px 10px;
	width: 120px;
	height: 60px;
	border: 2px solid #fb5c2a;
	border-radius: 10px;
	outline: none;
	font-size: 18px;
	background-color: #FFFFFF;
	color: #fb5c2a;
}
button.active {
	float: left;
	margin: 16px -4px 16px 6px;
	width: 128px;
	height: 68px;
	font-size: 22px;
	border-radius: 14px;
	border: 2px solid #FFFFFF;
	outline: none;
	background-color: #fb5c2a;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #000000;
}
button.noActive:hover {
	margin: 16px -4px 16px 6px;
	width: 128px;
	height: 68px;
	font-size: 22px;
	border-radius: 14px;
	cursor: pointer;
}
button#start {
	float: left;
	margin: 15px 80px 15px 80px;
	width: 240px;
	height: 70px;
	border-radius: 14px;
	border: none;
	outline: none;
	background-color: #FFFFFF;
	font-size: 30px;
	color: #fb5c2a;
}
button#start:hover {
	margin: 10px 70px 10px 70px;
	width: 260px;
	height: 80px;
	border-radius: 18px;
	cursor: pointer;
	font-size: 34px;
}
#frame {
	margin: auto;
	width: 700px;
	height: 700px;
}
.field {
	float: left;
	margin: 4px;
	width: 62px;
	height: 62px;
	background-color: #202020;
	border: none;
	outline: none;
	border-radius: 6px;
	color: #606060;
	text-align: center;
	font-size: 30px;
}
.field:hover {
	margin: 1px;
	width: 68px;
	height: 68px;
	cursor: pointer;
}